#how-section {
  padding: 100px 151px;

  #header {
    font-size: 86px;
    text-align: center;
    margin-bottom: 156px;
    font-weight: 900;
  }

  .image {
    text-align: center;

    &.wearable {
      margin-right: 96px;
    }

    &.ai {
      margin-left: 37px;
    }
  
    &.triage {
      margin-right: 96px;
    }
  }

  .box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 231px;

    img {
      max-width: 660px;
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .text {
    font-size: 30px;

    p {
      max-width: 480px;
    }
  }

  h6 {
    font-size: 36px;
    margin: 0;
    margin-bottom: 20px;
  }

  .confirm-enter {
    opacity: 0.01;
  }
  
  .confirm-enter.confirm-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .confirm-leave {
    opacity: 1;
  }
  
  .confirm-leave.confirm-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  @media only screen and (max-width: 414px)  {
    padding: 32px 52px;

    #header {
      font-size: 26px;
      margin-bottom: 52px;
      font-weight: bold;
    }

    .box {
      flex-direction: column;
      margin-bottom: 40px;

      .image {
        &.wearable {
          margin-right: 0;
        }
    
        &.ai {
          margin-left: 0;
        }
      
        &.triage {
          margin-right: 0;
        }
      }

      img {
        width: 100%;
        margin: 0;
        margin-bottom: 16px;
      }

      &.reverse {
        flex-direction: column-reverse;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .text {
      font-size: 14px;
      text-align: center;

      p {
        text-align: center;
      }
    }

    h6 {
      font-size: 16px;
    }
  }

  @media only screen and (min-width: 1024px) and (max-width: 1440px)  {
    .text {
      font-size: 2.33vw;
    }
  }

  @media only screen and (min-width: 414px) and (max-width: 1024px)  {
    padding: 64px;

    .wrap {
      flex-direction: column;
    }

    #header {
      font-size: 76px;
      margin: 0;
      margin-bottom: 80px;
      text-align: center;
    }

    .box {
      flex-direction: column;
      margin-bottom: 80px;

      .image {
        &.wearable {
          margin-right: 0;
        }
    
        &.ai {
          margin-left: 0;
        }
      
        &.triage {
          margin-right: 0;
        }
      }

      img {
        width: 100%;
        max-width: 550px;
        margin: 0;
        margin-bottom: 24px;
      }

      &.reverse {
        flex-direction: column-reverse;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .text {
      width: 100%;
      max-width: 448px;
      font-size: 30px;
      text-align: center;

      p {
        text-align: center;
      }
    }

    h6 {
      font-size: 36px;
    }
  }
}