#why-section {
  padding: 120px 82px;

  .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  #header {
    max-width: 445px;
    font-size: 86px;
    font-weight: 900;
    margin: 0;
    font-weight: 900;
  }

  .section {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  h2 {
    font-size: 100px;
    font-weight: bold;
    margin: 5px 0;
    color: #100d53;
  }

  h6 {
    font-size: 40px;
    font-weight: 500;
    color: #100d53;
    margin: 0;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }

  .red {
    color: #E2223D;
  }

  @media only screen and (max-width: 414px)  {
    padding: 32px 52px;

    .wrap {
      flex-direction: column;
    }

    #header {
      font-size: 26px;
      margin-bottom: 32px;
      text-align: center;
    }

    h2 {
      font-size: 30px;
      margin: 0;
    }

    h6 {
      font-size: 15px;
    }

    .box {
      margin-bottom: 32px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media only screen and (min-width: 414px) and (max-width: 1024px)  {
    padding: 64px;

    .wrap {
      flex-direction: column;
    }

    #header {
      font-size: 76px;
      margin-bottom: 80px;
      text-align: center;
    }

    h2 {
      font-size: 90px;
      margin: 0;
    }

    h6 {
      font-size: 30px;
    }

    .box {
      margin-bottom: 80px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}