#submit-section {
  background-color: #100d53;
  padding: 80px;
  padding-bottom: 24px !important;

  .wrap {
    display: flex;
    flex-direction: column;
    max-width: 723px;
    align-items: center;
    justify-content: center;
  }

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 83px;

    .main {
      width: 100%;
      color: white;
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 91px;
    }
  }

  h1 {
    font-size: 44px;
    font-weight: 500;
    width: 505px;
    margin: 0;
    margin-bottom: 28px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;

    button {
      background-color: #e25e70;
      color: #100d53;
      width: 183px;
      padding: 12px;
      border-radius: 6px;
      border: none;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 48px;

      &:disabled {
        color: black;
        background-color: gray;
      }
    }
  }

  .copyright {
    color: white;
    text-align: center;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .confirm {
    width: 100%;
    color: white;
    font-size: 36px;
    text-align: center;
  }

  @media only screen and (max-width: 414px)  {
    padding: 40px;

    h1 {
      font-size: 18px;
      width: 100%;
      margin-bottom: 16px;
    }

    #header {
      margin-bottom: 48px;

      .main {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    form {
      button {
        width: 90px;
        height: 22px;
        font-size: 10px;
        padding: 0;
      }
    }

    .confirm {
      font-size: 18px;
    }
  }

  @media only screen and (min-width: 415px) and (max-width: 1024px)  {
    padding: 64px;

    h1 {
      font-size: 34px;
      width: 100%;
      margin: 0;
    }

    #header {
      margin-bottom: 48px;

      .main {
        font-size: 38px;
        margin-bottom: 64px;
      }
    }

    form {
      width: 359px;

      button {
        width: 183px;
        font-size: 30px;
        padding: 13px;
      }
    }
  }
}