@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  color: #100d53;
}

#root {
  width: 100%;
  height: 100%;
}

.wrap {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

.primary-color {
  color: #e25e70 !important;
}

.text-color {
  color: #100d53;
}
